<div class="container">
  <div class="form-group w-100">
    <textarea class="w-100" name="options"  rows="10"  [(ngModel)]="optionsJson"></textarea>
    <button class="float-right btn btn-success" (click)="OnRefresh()">Refresh</button>
  </div>

  <div id="myCarousel" class="carousel slide my-4 mx-auto w-75" data-ride="carousel">
    <div class="carousel-inner" *ngFor="let item of charts; index as i">
      <div class="carousel-item" [ngClass]="{'active': selected==i}">
        <canvas [id]="item.id"></canvas>
      </div>
    </div>
  </div>

  <div class="carousel-controls text-center " *ngIf="charts.length>0">
    <button class="btn btn-info float-left" (click)="carouselSlide('prev')"><span class="fa fa-arrow-left mr-2"></span>Previous</button>
    <button class="btn btn-success float-right" (click)="carouselSlide('next')" >Next<span class="fa fa-arrow-right ml-2"></span></button>
  </div>
</div>

